.container{
    position: absolute;
    top: 87%;
    width: 100%;
    color: grey;
    min-height: 12%;
    z-index: 1;
    background: white;

 }

 .navbar
 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
 }

 .navbar ul{
 	background-color: white;
 }

 .inner{
 	max-width: 960px;
    margin: 0 auto;
    margin-bottom: 50px;
 }

 .banner {
    z-index: 1;
    top: 0;
    position: fixed
}
.footer
{
	background-color: #1f8dd6;
	color: white;
	padding: 20px;
}
